<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtiv1A68YzzNZvtCVU-RBM_jwK7vK_Is0</string>
	<key>GCM_SENDER_ID</key>
	<string>866750688120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.havelinFoodApk</string>
	<key>PROJECT_ID</key>
	<string>havelin-food-apk</string>
	<key>STORAGE_BUCKET</key>
	<string>havelin-food-apk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866750688120:ios:2c14817f029b515146768d</string>
</dict>
</plist>